In [2]:
import pandas as pd

s = pd.Series([10, 20, 30], index=['a','b','c'])
print(s['b'])  # Access by label
data = {'Name':['Alice','Bob','Charlie'],
        'Age':[25,30,22]}
df = pd.DataFrame(data)
print(df)
import numpy as np

df.loc[1, 'Age'] = np.nan  # Introduce missing value

# Fill missing values
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Drop missing values
df.dropna(inplace=True)
print(df)

20
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   22
      Name   Age
0    Alice  25.0
1      Bob  23.5
2  Charlie  22.0

C:\Users\USER\AppData\Local\Temp\ipykernel_13412\3215733078.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

In [6]:
data = {'Class':['A','A','B','B','A'],
        'Score':[85,90,70,75,88]}
df = pd.DataFrame(data)

grouped = df.groupby('Class')['Score'].mean()
print(grouped)
pivot = df.pivot_table(index='Class', values='Score', aggfunc='mean')
print(pivot)
df.sort_values(by='Score', ascending=False, inplace=True)
df['Rank'] = df['Score'].rank(ascending=False)
print(df)
# Apply a function to a column
df['Score_Squared'] = df['Score'].apply(lambda x: x**2)
print(df)

Class
A    87.666667
B    72.500000
Name: Score, dtype: float64
           Score
Class
A      87.666667
B      72.500000
  Class  Score  Rank
1     A     90   1.0
4     A     88   2.0
0     A     85   3.0
3     B     75   4.0
2     B     70   5.0
  Class  Score  Rank  Score_Squared
1     A     90   1.0           8100
4     A     88   2.0           7744
0     A     85   3.0           7225
3     B     75   4.0           5625
2     B     70   5.0           4900